html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: #6dd47e;
    height: 100px;
}

h1 {
    text-align: center;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: #ffd55a;
}

section {
    display:flex;
}