<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{{themeUrl}}}" id="theme"/>
    <link rel="stylesheet" href="./theme/listing-styles.css"/>
</head>

<body>
<div class="container" id="main">
    <h1>Slides</h1>
    <div id="list" class="list-group col-sm-6">
        {{#files}}
        <a href="{{filePath}}" title="{{title}}" class="list-group-item list-group-item-action">
            {{#title}}{{.}} ({{filePath}}){{/title}}{{^title}}{{filePath}}{{/title}}
        </a>
        {{/files}}
    </div>
    <img src="./assets/HTL_IF.jpg" alt="HTL logo" id="logo">
</div>
</body>
</html>