table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;

}

tr {
    height:1em;
}

td {
    width:5em;
    border: 1px solid #4e95f4;
}

table tr:nth-child(odd) {
    background: #b8d1f3;
}

table tr:nth-child(even) {
    background: #dae5f4;
}