html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;  /* border nicht doppelt */
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

caption {
    background: rgb(225, 225, 255);
    padding: 10px;
}

thead, tfoot{
    font-size: 1.2em;

}