h1 {
    padding: 1rem 1rem 1rem 2rem;
}

#main {
    margin: 2rem;
    background-color: #a9a9a9;
    border-radius: .3rem;
    position: relative;
}

body {
    background-color: #9CCF2C;
}

#list {
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;
}

#logo {
    padding: 0.5rem;
    position: absolute;
    top: 3em;
    right: 3em;
    border-radius: 1rem;
    z-index: 1;
}


