:not(pre) > code {
    background: inherit;
    display: inline;
    padding: 2px 3px;
    color: #2a76dd;
}

.stretch {
    height: auto !important;
}

.hljs, .html-render {
    border-radius: 0.3em;
}

/*
new for fixing size
 */
pre code.hljs {
    padding: 5px;
}

.monospace {
    font-family: monospace;
}

.blue {
    color: #2a76dd !important;
}

.grey {
    color: #7f7f7f;
}

.yellow {
    color: #BBB529 !important;
}

.left {
    text-align: left;
}

.html-render {
    border: 2px dotted dodgerblue;
    width: 90%;
    margin: auto;
}

.bordered {
    border: 1px dashed #bababa;
}

.no-bullets {
    list-style-type: none !important;
}

.no-bullets li:before {
    content: "⟹ "; /* Insert content that looks like bullets */
}

.exception, .exception * {
    color: #FF6B68;
}

.first-letter-large > li {
    list-style-type: none;
}

.first-letter-large > li:first-letter {
    list-style-type: none;
    font-size: 1.5em;
}

.underline {
    border-bottom: 3px solid #2a76dd;
}

dl {
    width: 100%;
}